{% extends 'base.html' %}

{% block content %}
<body>
<center>
<form method="GET">
     {% csrf_token %} 
    <input type="text" name="ticker">
    <button class="button" type="submit" action= "{% url 'script' %}">get prices</button>
    <br>
    
    {% for i in ts %}
    <div class="stockvalues">

        <br>
        <strong>opening price</strong> 
        <br>
        <p>{{i.open}}</p>
        <br>
        <strong>high price</strong>
        <br>
        <h4>{{i.high}}</h4>
        <br>
        <strong>low price</strong>
        <br>
        <h4>{{i.low}}</h4>
        <br>
        <strong>closing price</strong>
        <br>
        <h4>{{i.close}}</h4>
        <br>
        <strong>Volume</strong>
        <br>
        <h4>{{i.volume}}</h4>
    {% endfor %}
    </center>
    </div>
</form>
</body>


 

    
{% endblock content %}